html {
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
  scroll-behavior: smooth !important;
}

body {
  background-color: #2d3c76;
}

* {
  -webkit-user-drag: none;
}

img, h1, h2, nav {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}

img, h1, h2 {
  pointer-events: none;
}

nav {
  position: fixed;
  width: 100%;
  height: 5%;
  background-color: #2d3c76;
  z-index: 1;
  border-bottom: 1px solid #dae5ff;
  animation: slideTop 1s ease-in-out;
}
nav ul {
  display: flex;
  align-items: center;
  height: 100%;
}
nav ul li {
  margin: 0 auto;
  width: 100%;
  text-align: center;
  border-right: 1px solid #dae5ff;
}
nav ul li:last-child {
  border-right: none;
}
nav ul li a {
  cursor: pointer;
  color: #c6d1ff;
  font-size: 1.2em;
  transition: 0.5s;
}
nav ul li a .active {
  color: white;
  letter-spacing: 0.5rem;
}
nav ul li a:hover {
  color: white;
  letter-spacing: 0.5rem;
}

.page {
  min-height: 95vh;
  display: flex;
  flex-direction: column;
  scroll-margin-top: 5vh;
}
.page .titre {
  text-align: center;
  margin-top: 2em;
  font-size: 2rem;
}
.page:nth-child(even) {
  background-color: #dae5ff;
}
.page:nth-child(even) * {
  color: #151c38;
}
.page:nth-child(even) *::-moz-selection {
  background-color: #2d3c76;
  color: #dae5ff;
}
.page:nth-child(even) *::selection {
  background-color: #2d3c76;
  color: #dae5ff;
}
.page:nth-child(odd) {
  background-color: #2d3c76;
}
.page:nth-child(odd) * {
  color: #c6d1ff;
}
.page:nth-child(odd) *::-moz-selection {
  background-color: #dae5ff;
  color: #151c38;
}
.page:nth-child(odd) *::selection {
  background-color: #dae5ff;
  color: #151c38;
}

#page1 {
  min-height: 100vh;
}
#page1 #bienvenue {
  margin-top: 10vh;
  text-align: center;
}
#page1 #bienvenue h1 {
  overflow: hidden;
  font-size: 3em;
  text-transform: uppercase;
}
#page1 #bienvenue h1 span {
  transform: translateY(100%);
  animation: titleFadeIn 0.75s ease-in-out forwards;
  display: inline-block;
  animation-delay: 1000ms;
}
#page1 #bienvenue h2 {
  font-size: 1.5em;
  margin-top: 1em;
  font-weight: lighter;
  overflow: hidden;
}
#page1 #bienvenue h2 span {
  transform: translateY(100%);
  animation: titleFadeIn 0.75s ease-in-out forwards;
  display: inline-block;
  animation-delay: 1500ms;
}
#page1 #gauche {
  margin-top: 3em;
  text-align: center;
  animation: slideLeft 2s ease-in-out forwards;
  animation-delay: 2s;
  transform: translateX(-100%);
}
#page1 #gauche img {
  height: 300px;
  border: 1px solid black;
  border-radius: 100px;
  box-shadow: 0px 10px 100vh #2d3c76;
  animation: respire 5s ease-in-out infinite;
}
#page1 #droite {
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
}
#page1 #droite p {
  margin: 2em 2em 2em;
}
#page1 #droite span {
  transform: translateX(-100%);
  animation: leftFadeIn 2s ease-in-out forwards;
  display: inline-block;
  animation-delay: 2s;
}

#page2 .content {
  margin-top: 2em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
#page2 .content .site {
  flex: 0 0 25%;
  margin: 2em 2em 2em;
  text-align: center;
}
#page2 .content .site img {
  border-radius: 10px;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: scale-down;
  transition: 0.2s;
  pointer-events: auto;
}
#page2 .content .site img:hover {
  cursor: pointer;
  transform: scale(1.2);
}

#page3 .content {
  font-size: 1.5rem;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  margin-top: 5vh;
}
#page3 .content div {
  flex: 1 1 35%;
}
#page3 .content div p {
  margin: 2em 2em 2em;
}
#page3 #illustration {
  display: flex;
  justify-content: center;
  margin: 2em 0 2em;
}
#page3 #illustration img {
  width: 90vw;
  max-width: 750px;
  max-height: 100%;
  animation: movingImage 5s infinite;
  transform: scale(0.9);
}

#page4 .content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#page4 .content #gauche {
  font-size: 1.2rem;
  margin: 2em 2em 2em;
  text-align: center;
}
#page4 .content #droite img {
  width: 50vw;
  max-width: 1000px;
  max-height: 100%;
  animation: leftRight 5s infinite;
  transform: rotate(-3deg);
}

#page5 .content {
  margin-top: 2em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
#page5 .content .loisirs {
  text-align: center;
  margin: 2em 2em 2em;
  flex-basis: 40%;
}
#page5 .content .loisirs img {
  border: 1px solid black;
  height: 250px;
  width: 250px;
  -o-object-fit: cover;
  object-fit: cover;
  transition: 0.2s;
  animation: gaucheDroite 4s ease-in-out infinite;
}
#page5 p {
  margin: 0 1em 3em;
}

footer {
  width: 100%;
  height: 5vh;
  background-color: #2d3c76;
}
footer ul {
  display: flex;
  align-items: center;
  height: 100%;
}
footer ul li {
  margin: 0 auto;
  text-align: center;
  display: flex;
}
footer ul li img {
  height: 2em;
  width: 2em;
}
footer ul li p {
  transform: translateY(25%);
  margin-left: 2em;
  color: #c6d1ff;
}
footer ul li a {
  transition: 0.2s;
}
footer ul li a:hover {
  cursor: pointer;
  transform: scale(1.1);
}
footer *::-moz-selection {
  background-color: #dae5ff;
  color: #151c38;
}
footer *::selection {
  background-color: #dae5ff;
  color: #151c38;
}

/* ----------------------------- BOUTONS ----------------------------- */
.boutonHaut {
  display: none;
  position: fixed;
  bottom: 5vh;
  right: 30px;
  z-index: 1;
  border: none;
  outline: none;
  background-color: #2d3c76;
  cursor: pointer;
  padding: 10px;
  border-radius: 10rem;
  font-size: 1rem;
}
.boutonHaut i {
  color: white;
}
.boutonHaut:hover {
  background-color: #151c38;
}

#bouton-cv {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2em;
  animation: fadeIn 1s ease-in-out forwards;
  animation-delay: 1900ms;
  opacity: 0;
}
#bouton-cv a {
  transition: 0.5s ease-out;
  cursor: pointer;
  padding: 1em 1.5em;
  border-radius: 5px;
  background-color: #2d3c76;
  border: 2px solid #dae5ff;
  color: #dae5ff;
}
#bouton-cv a:hover {
  border: 2px solid #151c38;
  background-color: transparent;
  color: #151c38;
  letter-spacing: 0.05rem;
  padding: 1em 1.75em;
}

/* ----------------------------- APPARITION ----------------------------- */
.hidden {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
}

.active {
  transform: translateY(0);
  opacity: 1;
}

.disappear {
  transform: translateY(-150px);
  opacity: 0;
}

/* ------------------------------------------ MEDIA QUERIES ------------------------------------------ */
@media screen and (max-width: 520px) {
  nav {
    display: none;
  }
  #page1 #bienvenue {
    margin-top: 3em;
  }
  #page1 #droite p {
    margin: 1em 1em 1em;
    font-size: 1.2rem;
  }
  #page3 .content {
    flex-direction: column;
  }
  #page3 .content div p {
    margin: 0em 1em 1em;
  }
  #page4 .content #droite img {
    animation: none;
    transform: rotate(0deg);
  }
  #page5 .content .loisirs {
    margin: 1em 0 0;
    flex-basis: 0%;
  }
  #page5 p {
    margin-top: 2em;
  }
  footer ul li img {
    height: 1em;
    width: 1em;
  }
  footer ul li p {
    transform: translateY(0%);
    margin-left: 1em;
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 900px) {
  nav ul li {
    width: auto;
    border-right: none;
  }
  nav ul li a {
    font-size: 1.2rem;
  }
  .page {
    min-height: 100vh;
  }
  #page1 #bienvenue h1 {
    font-size: 1.7rem;
  }
  #page2 .content {
    min-height: 90vh;
  }
  #page2 .content .site {
    margin: 0.5em 1em 0.5em;
  }
  #page2 .content .site img {
    min-width: 150px;
    min-height: 150px;
    height: 30vw;
    width: 30vw;
  }
  #page3 .content {
    font-size: 1.2rem;
  }
  #page4 .content #gauche {
    margin: 2em 1em 2em;
  }
  #page4 .content #droite img {
    min-width: 300px;
  }
  #page5 .content .loisirs {
    margin: 1em 0 1em;
    flex-basis: 50%;
  }
  #page5 .content .loisirs img {
    height: 200px;
    width: 200px;
  }
}
@media screen and (min-width: 1200px) and (min-height: 750px) {
  nav ul li {
    border-right: 2px solid #c6d1ff;
  }
  nav ul li a {
    font-size: 1.7em;
  }
  #page1 #bienvenue {
    margin-top: 6em;
  }
  #page1 #bienvenue h1 {
    font-size: 4em;
  }
  #page1 #bienvenue h2 {
    font-size: 2em;
  }
  #page1 #gauche {
    position: absolute;
    top: 30%;
    width: 50%;
  }
  #page1 #gauche img {
    height: 500px;
  }
  #page1 #droite {
    position: absolute;
    top: 30%;
    width: 50%;
    top: 35%;
    left: 50%;
  }
  #page1 #droite img {
    height: 500px;
  }
  #page1 #droite p {
    margin-right: 4em;
  }
  #page3 .content div p {
    margin: 2em 5em 2em;
  }
  #page4 .content {
    flex-direction: row;
    margin-top: 15vh;
  }
  #page4 .content #gauche {
    font-size: 1.5rem;
  }
  #page4 .content #droite {
    width: 50vw;
  }
  #page5 .content {
    flex-direction: row;
    margin-top: 15vh;
  }
  #page5 .content .loisirs {
    flex-basis: 0;
    margin: 0;
  }
  #page5 p {
    font-size: 1.2rem;
    margin-top: 8em;
    text-align: center;
  }
}
/* -----------------------------------ANIMATIONS----------------------------------- */
@keyframes leftRight {
  50% {
    transform: rotate(3deg);
  }
}
@keyframes slideTop {
  from {
    transform: translateY(-100%);
  }
}
@keyframes titleFadeIn {
  to {
    transform: translateY(-5%);
  }
}
@keyframes respire {
  50% {
    transform: scale(0.95);
  }
}
@keyframes slideLeft {
  to {
    transform: translateX(0%);
  }
}
@keyframes leftFadeIn {
  to {
    transform: translateX(0%);
  }
}
@keyframes slideRight {
  to {
    transform: translateX(0%);
  }
}
@keyframes movingImage {
  50% {
    transform: scale(0.8);
  }
}
@keyframes fadeIn {
  to {
    opacity: 1;
  }
}